mixin image(image)
  p Dettaglio imamgine <b>#{image.name}</b>
  img(src='/image/file/' + image.name, alt='' + image.description).img-rounded
  p <i>#{image.description}</i>
  a(href="/image/delete/"+image._id) cancella
  br
