extends layout/auth-layout

block content
  div(class="jumbotron text-center")
    h1
      span(class="fa fa-lock") #{__('index-title')}
    p #{__('index-subtitle')}
    a(href="/login", class="btn btn-default")
      span(class="fa fa-user") #{__('index-login-button')}
    a(href="/signup", class="btn btn-default")
      span(class="fa fa-user") #{__('index-signup-button')}
