extends ../../layout/homepage-layout

block content
  h2= title

  form(action='/tariffe/edit',method='POST').form-horizontal
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='diritto_chiamata') Diritto di chiamata
        input(name='diritto_chiamata', type='number').form-control
      div.col-md-6.col-xs-12
        label(for='tariffa_fissa') Tariffa fissa
        input(name='tariffa_fissa', type='number').form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='tariffa_oraria') Tariffa oraria
        input(name='tariffa_oraria', type='number').form-control
      div.col-md-6.col-xs-12
        label(for='frazioni_ora') Frazioni d\'ora (minuti)
        select(name='frazioni_ora', type='select').form-control
          option 1
          option 5
          option 15
          option 30
          option 60
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='tariffa_km') Tariffa kilometrica
        input(name='tariffa_km', type='number').form-control
    button(type="submit").btn.btn-default Salva tariffa

  a(href="/tariffe") Visualizza tariffa
