mixin immagine(immagine)
  p Dettaglio imamgine <b>#{immagine.nome_immagine}</b>
  br
  img(src='/immagine/file/' + immagine.nome_immagine, alt='' + immagine.descrizione).img-rounded
  br
  p #{immagine.descrizione}
