mixin immagine(immagine)
  p Dettaglio imamgine #{immagine.nome_immagine}
  br
  img(src='/immagine/file/' + immagine.nome_immagine, alt='' + immagine.descrizione).img-rounded
  br
  p #{immagine.descrizione}
