extends ../../layout/homepage-layout
include immagine

block content
  h1= title
  if imamgine != null
    +immagine(immagine)

  else
    if list_immagini != null
      each img in list_immagini
        +immagine(img)
        br
