extends ../layout/homepage-layout

block content
  h2= title
  h2 Aggiungi un tecnico
  form(action='/tecnico/add',method='POST')
    label(for='nome') Nome:
    input(name='nome')
    label(for='cognome') Cognome:
    input(name='cognome')
    button(type="submit") Aggiungi tecnico
