extends ../layout/homepage-layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/material") Elenco materiali
  br
  a(href="/technician_rate") Pagina tariffe
  br
  a(href="/image") Immagine
  br
  a(href="/image/add") Aggiungi immagine
