extends ../../layout/homepage-layout

block content
  h2 Aggiungi un cliente

  form(action='/clienti/add',method='POST').form-horizontal

    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='codice') Codice cliente:
        input(name='codice').form-control
      div.col-md-6.col-xs-12
        label(for='sconto') Sconto:
        input(name='sconto').form-control

    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='ragione_sociale') Ragione Sociale:
        input(name='ragione_sociale').form-control
      div.col-md-6.col-xs-12
        label(for='piva_cf') P.Iva / Cod Fiscale:
        input(name='piva_cf').form-control

    div.form-group.row
      div.col-md-12.col-xs-12
        label(for='indirizzo') Indirizzo:
        input(name='indirizzo', type='text').form-control

    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='telefono') Telefono:
        input(name='telefono').form-control
      div.col-md-6.col-xs-12
        label(for='email') E-mail:
        input(name='email').form-control

    button(type="submit").btn.btn-default Aggiungi Cliente

  a(href="/clienti") Elenco clienti |
  a(href="/clienti/add") Aggiungi cliente
