doctype html
html
  head
    title Passport-GitHub Example
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css")
    link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css")
  body
    if user == null
      p
        a(href="/") Index |
        a(href="/login") Log In
    else
      p
        a(href="/homepage") Homepage |
        a(href="/profile") Profile |
        a(href="/logout") Log Out #{user.local.email}
    p
      a(href="/account") Account |
      a(href="/homepage") Homepage |
      a(href="/") Index


    div(class="container")
      block content
