doctype html
html(ng-app='interventoApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    script(src='/javascripts/nav_script.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js')
    script(src='/javascripts/controller.js')
    script(src='/javascripts/service.js')
    script(src='/javascripts/core.js')

  body
    h2 Gestione intervento
    ul(class="topnav",id="myTopnav")
      li
        a(href="/homepage") Home
      li
        a(href="/tecnico") Tecnico
      li
        a(href="#clienti") Clienti
      li
        a(href="#interventi") Interventi
      li
        a(href="#about") About
      li(class="icon")
        a(href="javascript:void(0);", onclick="myFunction()") &#9776;

    div(ng-controller="mainController")
      block content

    h3(id="tecnico") Tecnico
      p i dettagli tecnico o societá
    h3(id="clienti") Clienti
      p i registro clienti
    h3(id="interventi") Interventi
      p i elenco interventi
    h3(id="about") About
