h1 {{title}}

div(ng-show="pojo")
  table(class="table table-striped")
    tr
      td
        label {{pojo.product_name}}
      td
        label {{pojo.code}}
    tr
      td(colspan='2')
        label {{pojo.description}}
    tr
      td
        label {{pojo.price}}
  a(ng-click="editMaterial(pojo.code)") Modifica materiale |&nbsp;
  a(ng-click="deleteMaterial(pojo._id)") Elimina materiale
  
div(ng-show="list.length")
  table(class="table table-striped table-responsive")
    tr
      th #{__('product_name')}
      th #{__('code')}
      th #{__('description')}
      th #{__('price')}
    tr(ng-repeat="item in list")
      td
        a(ng-click="viewMaterial(item.code)" ) {{item.product_name}}
      td
        a(ng-click="viewMaterial(item.code)" ) {{item.code}}
      td {{item.description}}
      td {{item.price}}

br
a(ng-click="listMaterials()") Elenco materiali |&nbsp;
a(ng-click="addMaterial()") Aggiungi materiale
