extends ../../layout/homepage-layout

block content
  h2 Aggiungi un tecnico

  form(action='/tecnico/add',method='POST').form-horizontal
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='name') Nome
        input(name='name', value=''+ ((tecnico != undefined) ? tecnico.name : '') ).form-control
      div.col-md-6.col-xs-12
        label(for='surname') Cognome
        input(name='surname', value=''+ ((tecnico != undefined) ? tecnico.surname : '') ).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='account_code') Codice fiscale / P.Iva
        input(name='account_code', value=''+ ((tecnico != undefined) ? tecnico.account_code : '') ).form-control
    div.form-group.row
      div.col-md-12.col-xs-12
        label(for='address') Indirizzo
        input(name='address', type='area', value=''+ ((tecnico != undefined) ? tecnico.address : '') ).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='phone') Telefono
        input(name='phone', value=''+ ((tecnico != undefined) ? tecnico.phone : '') ).form-control
    div.form-group.row
      div.col-md-6.col-xs-12
        label(for='email') E-mail
        input(type='email',name='email', value=''+ ((tecnico != undefined) ? tecnico.email : '') ).form-control
    input(type='hidden',name='id', value=''+ ((tecnico != undefined) ? tecnico._id : '') )
    button(type="submit").btn.btn-default #{(tecnico != undefined) ? 'Modifica' : 'Aggiungi'} Tecnico

  a(href="/tecnico") Elenco tecnici |
  a(href="/tecnico/add") Aggiungi tecnico
